.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container > header > .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: lemonchiffon;
}
.container > header > .title > * {
  margin-top: 0;
  margin-bottom: 0;
}
.container > header > .title > h2 {
  font-style: italic;
}

div.header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
div.header-content > * {
  min-width: 200px;
  max-width: 500px;
  flex: 1 1 auto;
}
div.header-content > .header-section {
  display: flex;
  flex-direction: column;
}
div.header-content > .header-section > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
div.header-content > .header-section > h2 {
  background-color: cyan;
}
div.header-content > .header-section.contact-info {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > .main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.container > footer {
  align-self: center;
}

.main-wrapper > main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main-wrapper > main > .main-section {
  display: flex;
  flex-direction: column;
}
.main-wrapper > main > .main-section > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.main-wrapper > main > .main-section > h2 {
  background-color: cyan;
}

div.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
div.activities > * {
  min-width: 200px;
  max-width: 500px;
  flex: 1 1 auto;
}
div.activities > .activity-with-table {
  min-width: 500px;
  max-width: 1000px;
}

div.activities > .activity > hgroup {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
}
div.activities > .activity > hgroup > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
div.activities > .activity > hgroup > p {
  padding-left: 30px;
}

.education > hgroup {
  display: flex;
  flex-direction: column;
}
.education > hgroup > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.education > hgroup > p {
  padding-left: 30px;
}

.activity table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid darkred;
}
.activity table th {
  text-align: left;
}
.activity table th:nth-child(1) {
  width: 12%;
}
.activity table th:nth-child(2) {
  width: 12%;
}
.activity table th:nth-child(3) {
  width: 30%;
}
.activity table th:nth-child(4) {
  width: 46%;
}
.activity table thead {
  background-color: cyan;
}
.activity table thead th {
  padding-top: 12px;
  padding-bottom: 12px;
}
.activity table tbody tr:nth-child(odd) {
  background-color: white;
}
.activity table tbody tr:nth-child(even) {
  background-color: lightcyan;
}
.activity table tbody tr td:nth-child(1) {
  font-family: "Courier New", Courier, monospace;
}
.activity table tbody tr td:nth-child(2) {
  font-family: "Courier New", Courier, monospace;
}

address.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
}
address.contact > * {
  margin-left: 10%;
  margin-right: 10%;
  background-color: lightcyan;
  font-size: 1.5em;
}
